<template>
<v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="sendMessage(currentMessage)"
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-container>
      <v-flex
        xs10
        class="elevated white pa-4 align-end"
      >
        <v-layout
          v-for="message in messages"
          :key="message.timestamp"
          row
        >
          <v-flex xs12>
            <div v-if="message.uuid === uuid" class = "float-right">
               <div style="color:grey" class = "float-right">{{message.name}}</div>
               <br>
            <div>   
            <v-chip
              text-color="white"
              color="primary"
              label>
                {{message.text}}   
            </v-chip>
            <v-avatar color="primary">
                    <span class="white--text">{{message.name[0]}}</span>
            </v-avatar>
             </div>
            </div>

            <div v-if="message.uuid !== uuid" class = "float-left">
               <div style="color:grey" class = "float-left">{{message.name}}</div>
            <div>     
            <v-chip
              v-if="message.uuid !== uuid"
              text-color="primary"
              outlined
              color="primary"
              label>
                {{message.text}}
            </v-chip>
              <v-avatar color="primary">
                    <span class="white--text">{{message.name[0]}}</span>
            </v-avatar>
            </div>
            </div>
          </v-flex>
        </v-layout>
        <v-text-field
          label="New Message"
          v-model="currentMessage"
          class="mt-12"
        >
        </v-text-field>
        <v-btn
          @click="sendMessage(currentMessage)"
          @keydown.enter.prevent
          @keyup.enter="sendMessage(currentMessage)"
        >
          Send
        </v-btn>
      </v-flex>
    </v-container>
  </v-layout>

</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import * as axios from 'axios'

export default {
  data: () => ({
    snackbar: false,
    currentMessage: "",
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: "",
    uuid: "",
    backendHealthy: false,
  }),

   props: ['name'],

  created() {
    this.uuid = uuidv4()

    this.checkBackend()

    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data)
      data.timestamp = Date.now()
      this.messages.push(data)
    }

    this.$socket.onopen = function() {
      console.log('successfully connected to the websocket server')
    }

  },

  methods: {
    sendMessage: function(text) {
      const message = JSON.stringify({
        text,
        uuid: this.uuid,
        name: this.name
      })
      this.$socket.send(message)
    },
    checkBackend: function() {
      axios.get('http://localhost:3000/health')
        .then((res) => {
          if (res.status === 200 && res.data.OK === true) {
            console.log('backend is healthy')
            this.backendHealthy = true
            return
          } else {
            console.log(`backend check failed, response code was ${res.status}, data was ${res.data.ok}`)
            setTimeout(() => this.checkBackend(), 10000)
          }
        })
        .catch((err) => {
          console.log(err)
          console.log("backend not healthy yet, retrying")
          setTimeout(() => this.checkBackend(), 10000)
        })
    }
  }
}
</script>
