
<template>
  <div>
    <v-container>
      <v-layout row wrap>
        <v-flex xs12 class="text-xs-center">
        <v-dialog
                v-model="dialog"
                persistent
                max-width="800"
                @keydown.enter.prevent
        >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            dark
            v-bind="attrs"
            v-on="on"
          >
            Login
          </v-btn>
        </template>
        
        <v-card>
          <v-card-title class="headline">
            Welcome! Please enter your name to continue
          </v-card-title>
            <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            >
      <v-container>
            <v-text-field
              v-model="name"
              :rules="nameRules"
              :counter="16"
              label="Name"
              required
            ></v-text-field>
             <v-spacer></v-spacer>
             <div class = "text-right">
            <v-btn
              color="green darken-1"
              text
              @click="dialog = false"
            >
              Cancel
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              @click="validate(name)"
            >
              Login
            </v-btn>
            </div>
      </v-container>
    </v-form>
        </v-card>
      </v-dialog>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
      data () {
          
    return {
    dialog: false,
    valid: false,
    name: '',
    nameRules: [
      v => !!v || 'Name is required',
      v => v.length <= 16 || 'Name must be less than 16 characters',
    ],
    }
      },

    methods: {
    validate (input) {
      this.$refs.form.validate()
      this.$emit('dialog-closed', input);
      if (this.valid) this.dialog = false
    }
     }
}
</script>