<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.upchieve.org/docs/logo.svg"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>
      <h1>{{user.username}}</h1>
      <v-spacer></v-spacer>
          <div v-if="user.loggedIn == true">
            <v-btn
              color="primary"
              @click="logOut"
            >
              Logout
            </v-btn>
          </div>
          <div v-else>
          <Login @dialog-closed="updateUsername"/>
          </div>
    </v-app-bar>
  
    <v-main>
      <div style="
      position: fixed;
      bottom: 0;
      width: 100%;">
    <Chat v-bind:name="user.username"/>
      </div>
    </v-main>
  </v-app>
</template>

<script>
import Chat from './components/Chat';
import Login from './components/LoginForm'

export default {
  name: 'App',

  components: {
    Chat, Login,
  },

  data: () => ({
     user: {
       username: 'Guest',
       loggedIn: false
     }
  }),

  methods: {
    updateUsername(name){
      this.user.username = name
      this.user.loggedIn = true
    },

    logOut(){
      this.user.username = 'Guest'
      this.user.loggedIn = false
      console.log("logged out")
    }
  }
};
</script>
